table {
  width: 100%;
  max-height: 80%;
  overflow: auto;
  text-align: left !important;
}
.outer {
  margin: 5%;
  padding: 2%;
  text-align: center;
}
.inputBox .mat-form-field {
  width: 100% !important;
}
.fabicon {
  margin-left: 2%;
  background: dodgerblue;
  color: white;
  border-radius: 6px;
}
td,
th {
  width: 14%;
}
